{% extends "base.html" %}
{% block breadcrumb %}
历史工单
{% endblock %}

{% block main %}
<div class="col-sm-12">
    <br />
    <br />
    <table class="table table-striped table-bordered table-hover " id="editable">
        <thead>
            <tr>
                <th class="text-center">申请人</th>
                <th class="text-center">工单类型</th>
                <th class="text-center">申请时间</th>
                <th class="text-center">处理时间</th>
                <th class="text-center">处理人</th>
                <th class="text-center">工单状态</th>
                <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr class="gradeX">
                <td class="text-center">{{ job.apply_name }}</td>
                {% if job.job_type == 0 %}
                    <td class="text-center"  style='color:green'>新项目申请</td>
                {% elif job.job_type == 1 %}
                    <td class="text-center"  style='color:green'>代码发布</td>
                {% elif job.job_type == 2 %}
                    <td class="text-center"  style='color:green'>DB相关</td>
                {% else %}
                    <td class="text-center"  style='color:green'>其他</td>
                {% endif %}
                <td class="text-center">{{ job.apply_date }}</td>
                <td class="text-center">{{ job.deal_time }}</td>
                <td class="text-center">{{ job.deal_persion }}</td>
                {% if job.status == 0 %}
                    <td class="text-center" style='color:green'>申请中</td>
                {% elif job.status == 1 %}
                    <td class="text-center" style='color:deepskyblue'>处理中</td>
                {% elif job.status == 2 %}
                    <td class="text-center" style='color:blue'>完成</td>
                {% else %}
                    <td class="text-center" style='color:red'>未通过</td>
                {% endif %}
                <td class="text-center">
                    <button data-id='{{job.id}}' class='btn btn-xs btn-info detail'>详情</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<!--详情模态窗-->
<div class="modal fade" id='infoModel'>
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	     <h4 class="modal-title">详情</h4>
    </div><!--header-->
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label">工单详情</label>
             <div class="controls">
                 <span id="job_info"></span>
            </div>
        </div> <!--detail apply desc end-->
    </div><!--body-->
    <div class="modal-footer">
      	<button type="button" class="btn btn-default update-cancel" data-dismiss="modal">关闭</button>
   </div><!--footer-->

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block js %}
<script>
// 用户列表datatable插件
$(document).ready(function () {
    $('#editable').DataTable({
        "bDestroy":true, //加上这个，一旦datatable的数据有增加或者删除，会销毁原有的，重新获取
        "language": {
            "lengthMenu": "每页 _MENU_ 条记录",
            "zeroRecords": "没有找到记录",
            "sInfo": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 ),显示第 _START_ 至 _END_ 项(总共 _TOTAL_ 项)",
            "infoEmpty": "无记录",
            "infoFiltered": "(从 _MAX_ 条记录过滤)",
            "sSearch": "搜索:",
            "oPaginate": {
            "sFirst": "首页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "末页"
            }
        },
        "order": [[2, "desc"],[0,"asc"]]
    })
})

//查看工单详情
$(".detail").click(function () {
    id=$(this).attr("data-id")
    $.getJSON("/jobdetail",{"id":id},function(data){
         $('#job_info').html('<pre>'+data['job_info']+'</pre>')
    })
    $('#infoModel').modal('show')
})

</script>
{% endblock %}