{% extends "base.html" %}
{% block breadcrumb %}
工单列表
{% endblock %}

{% block main %}
<div class="col-sm-12">
    <br />
    <br />
    <table class="table table-striped table-bordered table-hover " id="editable">
        <thead>
            <tr>
                <th class="text-center">申请人</th>
                <th class="text-center">工单类型</th>
                <th class="text-center">申请时间</th>
                <th class="text-center">工单状态</th>
                <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr class="gradeX">
                <td class="text-center">{{ job.name }}</td>
                {% if job.job_type == 0 %}
                    <td class="text-center"  style='color:green'>新项目申请</td>
                {% elif job.job_type == 1 %}
                    <td class="text-center"  style='color:green'>代码发布</td>
                {% elif job.job_type == 2 %}
                    <td class="text-center"  style='color:green'>DB相关</td>
                {% else %}
                    <td class="text-center"  style='color:green'>其他</td>
                {% endif %}
                <td class="text-center">{{ job.datetime }}</td>

                {% if job.status == 0 %}
                    <td class="text-center" style='color:green'>申请中</td>
                {% elif job.status == 1 %}
                    <td class="text-center" style='color:deepskyblue'>处理中</td>
                {% elif job.status == 2 %}
                    <td class="text-center" style='color:blue'>完成</td>
                {% else %}
                    <td class="text-center" style='color:red'>未通过</td>
                {% endif %}
                <td class="text-center">
                    <button data-id="{{job.id}}" class="btn btn-xs btn-primary deal">处理中</button>
                    <button data-id="{{job.id}}" class="btn btn-xs btn-danger success">完成</button>
                    <button data-id='{{job.id}}' class='btn btn-xs btn-info detail'>详情</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}

{% block js %}
<script>
// 用户列表datatable插件
$(document).ready(function () {
    $('#editable').DataTable({
        "bDestroy":true, //加上这个，一旦datatable的数据有增加或者删除，会销毁原有的，重新获取
        "language": {
            "lengthMenu": "每页 _MENU_ 条记录",
            "zeroRecords": "没有找到记录",
            "sInfo": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 ),显示第 _START_ 至 _END_ 项(总共 _TOTAL_ 项)",
            "infoEmpty": "无记录",
            "infoFiltered": "(从 _MAX_ 条记录过滤)",
            "sSearch": "搜索:",
            "oPaginate": {
            "sFirst": "首页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "末页"
            }
        },
        "order": [[2, "desc"],[0,"asc"]]
    })
})
//编辑用户弹出模态框,渲染数据
$(".update").click(function () {
    var id = $(this).attr("data-id")
    $.getJSON("/getuser",{id:id},function (data) {
        console.log(data)
        $("#upid").val(data["id"])
        $("#username").val(data["username"])
        $("#cn_name").val(data["cn_name"])
        $("#email").val(data["email"])
        $("#phone").val(data["phone"])
        if(data["role"] == "admin"){
            $("#role_admin").attr("checked","")
        }else{
            $("#role_user").attr("checked","")
        }
        if(data["status"] == 0){
            $("#static_on").attr("checked","")
        }else{
            $("#static_off").attr("checked","")
        }
    })
    $('#updateModal').modal('show')
})

//编辑用户，点击提交
$("#upbtn").click(function () {
    $.post("/getuser",$("#updateForm").serialize(),function (data) {
        data = JSON.parse(data)
        if(data["code"]==0){
            location.href="/userlist"
        }else{
            swal("error","用户修改失败","error")
        }
    })
    return false
})

//显示修改密码模态框
$(".cgpasswd").click(function () {
    var id=$(this).attr("data-id")
    $("#passwdid").val(id)
    $('#passwdModal').modal('show')
})

//修改密码
$("#passwdbtn").click(function () {
    $.post("/cgpasswd",$("#passwdForm").serialize(),function (data) {
        data=JSON.parse(data)
        if(data["code"]==0){
            swal(
            {
                title:"密码修改成功",
                text:"密码修改成功",
                type:"success",
                confirmButtonText:"确定",
            },function(){
                location.href="/userlist"
            })
        }
    })
})

//删除用户
$(".del").click(function () {
    var id=$(this).attr("data-id")
    swal(
        {
            title: "确定删除该用户吗?",
            text: "",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定",
            cancelButtonText: "退出",
            closeOnConfirm: false
        }, function(){
            $.post("/deluser",{id:id},function (data) {
                data = JSON.parse(data)
                if(data["code"]==0){
                    swal({
                        title:"用户删除成功",
                        text:"",
                        type:"success",
                        confirmButtonText: "确定"
                    },function () {
                        location.reload()
                    })
                }else{
                    swal("用户删除失败","","error")
                }
            })

        }
    );
})

</script>
{% endblock %}